.chat-message {
    &__list {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        overflow-y: auto;
        gap: 20px;
        padding: 0 15px;
    }

    &__item {
        align-items: flex-start;

        &.me {
            justify-content: flex-end;
        }

        &__title {
            font-size: 16px;
            font-weight: 700;
        }

        &__date {
            font-size: 13px;
            color: gray;
        }

        &__content {
            font-size: 15px;
            color: #000;
        }
    }
}